# Local .terraform files
.terraform/

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log (in case Terraform crashes)
crash.log

# Ignore terraform variable override files (often contain secrets)
*.tfvars
*.tfvars.json

# Ignore plan output
*.tfplan

# Sensitive files
*.pem
*.key
*.pub

# macOS artifacts
.DS_Store

# VSCode settings (if using VSCode)
.vscode/
